<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>




<%= link_to "Vehicles", vehicles_path %><br>
<%= link_to "Drivers", drivers_path %><br>
<%= link_to "Clients", clients_path %><br>
<%= link_to "Expenses", expenses_path %><br>
<%= link_to "Trips", trips_path %><br>





