<table class="table table-borderless" style="width: 50%;">
  <tr>
    <th><%= form.label :Trip_date, style: "display: block", class: "form-label" %></th>
    <td><%= form.date_field :start_date, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Driver, style: "display: block", class: "form-label" %></th>
    <td><%= form.text_field :driver, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Client, style: "display: block", class: "form-label" %></th>
    <td><%= form.text_field :client, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Vehicle, style: "display: block", class: "form-label" %></th>
    <td><%= form.text_field :vehicle, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Starting, style: "display: block", class: "form-label" %></th>
    <td><%= form.text_field :starting, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Closing, style: "display: block", class: "form-label" %></th>
    <td><%= form.text_field :ending, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Running, style: "display: block", class: "form-label" %></th>
    <td><%= form.text_field :running, class: "form-control" %></td>
  </tr>
  <tr>
    <th><%= form.label :Closed_On, style: "display: block", class: "form-label" %></th>
    <td><%= form.date_field :end_date, class: "form-control" %></td>
  </tr>
  <tr>
    <td colspan="2" class="text-center"><%= form.submit "Update Details", class: "btn btn-success" %></td>
  </tr>
</table>