<div id="<%= dom_id trip %>">
  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= trip.driver %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= trip.client %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= trip.vehicle %>
  </p>

  <p>
    <strong>Starting:</strong>
    <%= trip.starting %>
  </p>

  <p>
    <strong>Ending:</strong>
    <%= trip.ending %>
  </p>

  <p>
    <strong>Running:</strong>
    <%= trip.running %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>

</div>
