<p style="color: green"><%= notice %></p>

<h1>Trips</h1>

<% if @trips.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Driver</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Client</th>
        <th scope="col">Starting</th>
        <th scope="col">Closing</th>
        <th scope="col">Running</th>
        <th scope="col">Trip Closing</th>

      </tr>
    </thead>
    <tbody>
      <% @trips.each do |trip| %>
        <tr>
          <td><%= trip.start_date %></td>
          <td><%= trip.driver %></td>
          <td><%= trip.vehicle %></td>
          <td><%= trip.client %></td>
          <td><%= trip.starting %></td>
          <td><%= trip.ending %></td>
          <td><%= trip.running %></td>

          <td><%= trip.end_date %></td>
          <td>
            <%= link_to "Edit", edit_trip_path(trip.id), class: "btn btn-primary" %>
            <td>
          <%= button_to 'Delete', delete_trip_path(trip), method: :delete, class: 'btn btn-danger' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Trips found.</p>
<% end %>
<div style="display: flex; justify-content: center;">
  <%= link_to "Add Trips", new_trip_path, class: "btn btn-secondary" %>
</div>
