 
<table class="table table-borderless" style = "width:50%;">
      <tr>
        <th><%= form.label :number, style: "display: block", class: "form-label" %></th>
        <td><%= form.text_field :number, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :model, style: "display: block", class: "form-label" %></th>
        <td><%= form.text_field :model, class: "form-control" %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><%= form.submit "Create Vehicle", class: "btn btn-success" %></td>
      </tr>
    </table>