<p style="color: green"><%= notice %></p>

<h1>Vehicles</h1>

<% if @vehicles.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Reg Number</th>
        <th scope="col">Veh Model</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= vehicle.number %></td>
          <td><%= vehicle.model %></td>
          <td>
            <%= link_to "Edit", edit_vehicle_path(vehicle.id), class: "btn btn-primary" %>
            <td>
          <%= button_to 'Delete', delete_vehicle_path(vehicle), method: :delete, class: 'btn btn-danger' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No vehicles found.</p>
<% end %>
<div style="display: flex; justify-content: center;">
  <%= link_to "New vehicle", new_vehicle_path, class: "btn btn-secondary" %>
</div>
