

<h1>Expenses</h1>


<% if @expenses.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">item</th>
        <th scope="col">amount</th>
        <th scope="col">Driver</th>
        <th scope="col">Vehicle</th>
        <th scope="col">amount</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.date %></td>
          <td><%= expense.item %></td>
          <td><%= expense.amount %></td>
          <td><%= expense.driver_id %></td>
          <td><%= expense.vehicle_id %></td>
          <td>
            <%= link_to "Edit", edit_expense_path(expense.id), class: "btn btn-primary"%>
            <td>
             <%= button_to 'Delete', delete_expense_path(expense), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Expenses found.</p>
<% end %>
<div style="display: flex; justify-content: center;">
  <%= link_to "Add Expense", new_expense_path, class: "btn btn-secondary" %>
</div>
